.back-arrow {
	cursor: pointer;
	font-size: var(--fontHeader);
	position: absolute;
}

.politicians-profile-header {
	background-color: var(--primaryColor);
	color: var(--secondaryColor);
	padding: var(--spaceDefault);
}
