:root {
	--fontFamilyDefault: 'Courier New', Courier, monospace;
	--fontTitle: 24px;
	--fontSubTitle: 20px;
	--fontDescription: 18px;
	--spaceDefault: 15px;
	--spaceMedium: 30px;
	--primaryColor: #000;
	--secondaryColor: #fff;
}

.avatar {
	border-radius: 50%;
}

.App {
	font-family: var(--fontFamilyDefault);
	text-align: center;
}

.app-item {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: var(--spaceDefault);
}

.app-navbar {
	background-color: var(--secondaryColor);
	bottom: 0;
	border-top: 1px solid black;
	position: fixed;
	width: 100%;
}

.app-navbar-list {
	display: flex;
	justify-content: center;
	list-style-type: none;
	padding: 0;
}

.app-navbar-list-item:not(:last-child) {
	border-right: 1px solid black;
}

.app-navbar-list-item {
	min-width: 100px;
}

.app-search-input {
	border: 1px solid black;
	padding: var(--spaceDefault);
	font-family: var(--fontFamilyDefault);
	width: 100%;
}

.politician-item {
	font-size: var(--fontTitle);
	margin-bottom: var(--spaceDefault);
	padding: var(--spaceDefault);
}

.politician-item-title {
	font-size: var(--fontTitle);
}

.politician-item-sub-title {
	font-size: var(--fontSubTitle);
}

.politician-list {
	display: flex;
	flex-direction: column;
}

.politicians-profile-additional {
	font-size: var(--fontDescription);
	padding: var(--spaceDefault);
}

.politicians-profile-header {
	background-color: var(--primaryColor);
	color: var(--secondaryColor);
	padding: var(--spaceDefault);
}
