:root {
	--fontFamilyDefault: 'Courier New', Courier, monospace;
	--fontTitle: 24px;
	--fontSubTitle: 20px;
	--spaceDefault: 15px;
}

.avatar {
	border-radius: 50%;
}

.App {
	font-family: var(--fontFamilyDefault);
	text-align: center;
}

.politician-item {
	font-size: var(--fontTitle);
	padding: var(--spaceDefault);
}

.politician-item-title {
	font-size: var(--fontTitle);
}

.politician-item-sub-title {
	font-size: var(--fontSubTitle);
}
